<div class="toc-border-cover z-3"></div>
<section id="toc-wrapper" class="position-sticky ps-0 pe-4 pb-4">
  <h2 class="panel-heading ps-3 pb-2 mb-0">{{- site.data.locales[include.lang].panel.toc -}}</h2>
  <nav id="toc" aria-label="Homepage contents">
    <ul class="toc-list">
      <li class="toc-list-item is-active-li">
        <a href="#research" class="toc-link node-name--H2 is-active-link">Research</a>
      </li>
      <li class="toc-list-item">
        <a href="#from-the-blog--博客导读" class="toc-link node-name--H2">From the Blog · 博客导读</a>
      </li>
      <li class="toc-list-item">
        <a href="#experience" class="toc-link node-name--H2">Experience</a>
      </li>
      <li class="toc-list-item">
        <a href="#publications" class="toc-link node-name--H2">Publications</a>
      </li>
      <li class="toc-list-item">
        <a href="#students" class="toc-link node-name--H2">Students</a>
      </li>
      <li class="toc-list-item">
        <a href="#grants" class="toc-link node-name--H2">Grants</a>
      </li>
    </ul>
  </nav>
</section>
